body,
img {
  margin: 10px;
}
.tweet {
  overflow: hidden;
}

img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 8rem;
  box-shadow: 0px 0px 9px 1px black;
  margin: 5px 10px;
  float: left;
}

.fixing1 {
  margin-block-start: 0.5rem;
  margin-inline-start: 170px;
}

.fixing2 {
  margin-block-start: 0.5rem;
  margin-inline-start: 170px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.introlink {
  font-weight: bold;
}

.introlink:hover,
.introlink:focus {
  color: green;
  font-style: italic;
}

.text {
  font-weight: bolder;
}

.word {
  font-style: italic;
}

ul {
  list-style-type: circle;
  color: purple;
}

table,
td,
th {
  border: 2px solid rgb(4, 95, 4);
  border-collapse: collapse;
  padding: 5px;
}
